<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title>Cart</title>
    <link rel="stylesheet" href="/stylesheets/user/">
    <%- include('../partials/bootstrap.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>order sucessfullty created</h1>
    <%- include('./partials/footer.ejs') %>
    <script>
        setTimeout(()=>{
            window.location.href='/'
        },4000)
    </script>
</body>
</html>